@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
         url('assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('assets/fonts/Montserrat-Light.woff2') format('woff2'),
         url('assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

:root {
    --color-green: rgba(10, 194, 183, 1);
    --color-white: rgba(247, 247, 248, 1);
    --color-black: rgba(26, 26, 26, 1);
    --color-grey: rgba(26, 26, 26, 0.6);

    --1440: 100vw;
    --505: 35.0694vw;
    --448: 31.1111vw;
    --315: 21.875vw;
    --295: 20.4861vw;
    --266: 18.4722vw;
    --246: 17.0833vw;
    --196: 13.6111vw;
    --190: 13.1944vw;
    --182: 12.6389vw;
    --150: 10.4167vw;
    --142: 9.8611vw;
    --126: 8.75vw;
    --105: 7.2917vw;
    --100: 6.9444vw;
    --85: 5.9028vw;
    --77: 5.3472vw;
    --72: 5vw;
    --60: 4.1667vw;
    --57: 3.9583vw;
    --52: 3.6111vw;
    --50: 3.4722vw;
    --46: 3.1944vw;
    --45: 3.125vw;
    --42: 2.9167vw;
    --40: 2.7778vw;
    --36: 2.5vw;
    --35: 2.4306vw;
    --34: 2.3611vw;
    --33: 2.2917vw;
    --32: 2.2222vw;
    --30: 2.0833vw;
    --28: 1.9444vw;
    --27: 1.875vw;
    --26: 1.8056vw;
    --25: 1.7361vw;
    --22: 1.5278vw;
    --20: 1.3889vw;
    --19: 1.3194vw;
    --18: 1.25vw;
    --17: 1.1806vw;
    --16: 1.1111vw;
    --15: 1.0417vw;
    --14: 0.9722vw;
    --13: 0.9028vw;
    --12: 0.8333vw;
    --11: 0.7639vw;
    --10: 0.6944vw;
    --8: 0.5556vw;
    --5: 0.3472vw;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Montserrat-Regular';
}

.heading {
    font-weight: 500;
    font-family: 'Montserrat-Bold';
    color: var(--color-white);
}

.header-logo {
    font-weight: 700;
    font-family: 'Montserrat-Black';
    color: var(--color-black);
}

.header-logo-primary {
    line-height: var(--20);
    font-size: var(--16);
}

.heading-large {
    line-height: var(--57);
    font-size: var(--50);
}

.heading-small {
    line-height: var(--35);
    font-size: var(--42);
}

.heading-black {
    color: var(--color-black);
}

.card-title {
    font-size: var(--20);
    font-weight: 500;
    color: var(--color-black);
    font-family: 'Montserrat-Bold';
    line-height: var(--25);
    width: 60%;
}

.paragraph {
    font-weight: 300;
    font-family: 'Montserrat-Regular';
    color: var(--color-grey);
}

.paragraph-small {
    font-size: var(--12);
    line-height: var(--14);
}

.paragraph-large {
    font-size: var(--14);
    line-height: var(--17);
}

.paragraph-white {
    color: var(--color-white);
}

.centering {
    padding-inline: var(--100);
}

.pb-large {
    padding-block: var(--57);
}

.pb-small {
    padding-block: var(--46);
}

.grid-group-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-group-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.btn {
    color: var(--color-white);
    border-radius: 20px;
    padding: 1em 2em;
    font-family: 'Montserrat-Regular';
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-green);
    border: 1.5px solid var(--color-green);
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--color-green);
    background-color: var(--color-white);
}

.btn-secondary {
    color: var(--color-grey);
    background-color: rgba(247, 247, 248, 1);
}

.btn-small {
    font-size: var(--8);
    line-height: var(--10);
    font-weight: 400;
}

.btn-medium {
    font-size: var(--10);
    line-height: var(--12);
    font-weight: 400;
}

.btn-large {
    font-size: var(--14);
    line-height: var(--17);
    font-weight: 400;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
}

/* Header */

.header-primary {
    padding-block: var(--14);
    background-color: rgba(247, 247, 248, 1);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper-primary {
    background-color: rgba(255, 255, 255, 1);
    padding: var(--8) var(--32);
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list-primary {
    gap: var(--26);
}

.nav-link {
    color: var(--color-black);
    font-size: var(--10);
}

.nav-link-hover:focus,
.nav-link-hover:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
    text-underline-offset: 0.6em;
    text-decoration-thickness: 0.15em;
}

.list-item {
    list-style: none;
}

.nav-list-item-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--5);
    margin-right: var(--13);
}

.sign-up-btn {
    margin-left: var(--26);
}

.nav-svg {
    width: var(--15);
    height: var(--15);
}

/* Main */

.index-carousel-viewport {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    padding-block: calc(var(--105) * 0.7);
    width: var(--1440);
    flex-shrink: 0;
    flex-basis: var(--1440);
}

.carousel-item-1 {
    background-image: url(assets/images/main/main-preview-1.png);
}

.carousel-item-2 {
    background-image: url(assets/images/main/main-preview-2.png);
    position: relative;
}

.carousel-item-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(182.08deg, #AAAAAC 2.7%, #A6A5AA 50.16%, #B2B1B7 62%, #B6B6BE 72.76%, #B3B4B9 84.9%, #AEAEB8 92.53%, #ACACB6 99.21%);
    z-index: -1;
}

.carousel-item-3 {
    background-image: url(assets/images/main/main-preview-3.png);
}

.carousel-item-1 h1 {
    width: calc(var(--448) * 1.1);
}

.carousel-item-2 h1 {
    width: calc(var(--100) * 8);
}

.carousel-item-3 h1 {
    width: calc(var(--505) * 1.1);
}

.bg-img {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-content p {
    margin-block: var(--20) var(--36);
    width: calc(var(--295) * 1.4);
}

/* Badges */

.index-badges {
    background-color: rgba(247, 247, 248, 1);
}

.badge-grid-group {
    gap: var(--20);
    background-color: rgba(247, 247, 248, 1);
}

.badge {
    padding: var(--15) var(--30);
    background-color: #fff;
}

.badge-svg {
    width: var(--40);
    height: var(--40);
    margin-bottom: var(--77);
}

.badge .paragraph {
    margin-top: var(--10);
}