@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('assets/fonts/Montserrat-Medium.woff2') format('woff2'),
         url('assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
         url('assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('assets/fonts/Montserrat-Light.woff2') format('woff2'),
         url('assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

:root {
    --color-green: rgba(10, 194, 183, 1);
    --color-white: rgba(247, 247, 248, 1);
    --color-black: rgba(26, 26, 26, 1);
    --color-grey: rgba(26, 26, 26, 0.6);

    --1440: 100vw;
    --505: 35.0694vw;
    --448: 31.1111vw;
    --315: 21.875vw;
    --295: 20.4861vw;
    --266: 18.4722vw;
    --246: 17.0833vw;
    --196: 13.6111vw;
    --190: 13.1944vw;
    --182: 12.6389vw;
    --150: 10.4167vw;
    --142: 9.8611vw;
    --126: 8.75vw;
    --105: 7.2917vw;
    --100: 6.9444vw;
    --85: 5.9028vw;
    --77: 5.3472vw;
    --72: 5vw;
    --60: 4.1667vw;
    --57: 3.9583vw;
    --52: 3.6111vw;
    --50: 3.4722vw;
    --46: 3.1944vw;
    --45: 3.125vw;
    --42: 2.9167vw;
    --40: 2.7778vw;
    --36: 2.5vw;
    --35: 2.4306vw;
    --34: 2.3611vw;
    --33: 2.2917vw;
    --32: 2.2222vw;
    --30: 2.0833vw;
    --28: 1.9444vw;
    --27: 1.875vw;
    --26: 1.8056vw;
    --25: 1.7361vw;
    --22: 1.5278vw;
    --20: 1.3889vw;
    --19: 1.3194vw;
    --18: 1.25vw;
    --17: 1.1806vw;
    --16: 1.1111vw;
    --15: 1.0417vw;
    --14: 0.9722vw;
    --13: 0.9028vw;
    --12: 0.8333vw;
    --11: 0.7639vw;
    --10: 0.6944vw;
    --8: 0.5556vw;
    --5: 0.3472vw;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Montserrat-Regular';
}

.heading {
    font-weight: 500;
    font-family: 'Montserrat-Medium';
    color: var(--color-white);
}

.header-logo {
    font-weight: 700;
    font-family: 'Montserrat-Black';
    color: var(--color-black);
}

.header-logo-primary {
    line-height: var(--20);
    font-size: var(--16);
}

.heading-large {
    line-height: var(--57);
    font-size: var(--50);
}

.heading-medium {
    line-height: var(--57);
    font-size: var(--45);
}

.heading-small {
    line-height: var(--42);
    font-size: var(--35);
}

.heading-black {
    color: var(--color-black);
}

.card-title {
    font-size: var(--20);
    font-weight: 600;
    color: var(--color-black);
    font-family: 'Montserrat-Medium';
    line-height: var(--25);
}

.paragraph {
    font-weight: 400;
    font-family: 'Montserrat-Regular';
    color: var(--color-grey);
}

.paragraph-small {
    font-size: var(--12);
    line-height: var(--14);
}

.paragraph-large {
    font-size: var(--14);
    line-height: var(--17);
}

.paragraph-white {
    color: var(--color-white);
}

.centering {
    padding-inline: var(--100);
}

.pb-large {
    padding-block: var(--57);
}

.pb-small {
    padding-block: var(--46);
}

.mrg-btm-30 {
    margin-bottom: var(--30);
}

.mrg-btm-20 {
    margin-bottom: var(--20);
}

.mrg-btm-10 {
    margin-bottom: var(--10);
}

.text-centered {
    text-align: center;
}

.grid-group-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-group-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-group-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    color: var(--color-white);
    border-radius: 20px;
    padding: 1em 2em;
    font-family: 'Montserrat-Regular';
    cursor: pointer;
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-green);
    border: 1.5px solid var(--color-green);
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--color-green);
    background-color: var(--color-white);
}

.btn-secondary {
    color: var(--color-grey);
    background-color: rgba(247, 247, 248, 1);
}

.btn-third {
    color: var(--color-green);
    background-color: var(--color-white);
    border: 1.5px solid var(--color-green);
}

.btn-third:hover,
.btn-third:focus {
    color: var(--color-white);
    background-color: var(--color-green);
}

.btn-small {
    font-size: var(--8);
    line-height: var(--10);
    font-weight: 400;
}

.btn-medium {
    font-size: var(--10);
    line-height: var(--12);
    font-weight: 400;
}

.btn-large {
    font-size: var(--14);
    line-height: var(--17);
    font-weight: 400;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mrg-centered {
    margin-inline: auto;
}

.link {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

/* Header */

.header-primary {
    padding-block: var(--14);
    background-color: rgba(247, 247, 248, 1);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper-primary {
    background-color: rgba(255, 255, 255, 1);
    padding: var(--8) var(--32);
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list-primary {
    gap: var(--26);
}

.nav-link {
    color: var(--color-black);
    font-size: var(--10);
}

.nav-link-hover:focus,
.nav-link-hover:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
    text-underline-offset: 0.6em;
    text-decoration-thickness: 0.15em;
}

.list-item {
    list-style: none;
}

.nav-list-item-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--5);
    margin-right: var(--13);
}

.sign-up-btn {
    margin-left: var(--26);
}

.nav-svg {
    width: var(--15);
    height: var(--15);
}

/* Index Main */

.index-carousel-viewport {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    padding-block: calc(var(--105) * 0.7);
    width: var(--1440);
    flex-shrink: 0;
    flex-basis: var(--1440);
}

.carousel-item-1 {
    background-image: url(assets/images/main/main-preview-1.jpg);
}

.carousel-item-2 {
    background-image: url(assets/images/main/main-preview-2.png);
    position: relative;
}

.carousel-item-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(182.08deg, #AAAAAC 2.7%, #A6A5AA 50.16%, #B2B1B7 62%, #B6B6BE 72.76%, #B3B4B9 84.9%, #AEAEB8 92.53%, #ACACB6 99.21%);
    z-index: -1;
}

.carousel-item-3 {
    background-image: url(assets/images/main/main-preview-3.png);
}

.carousel-item-1 h1 {
    width: calc(var(--448) * 1.1);
}

.carousel-item-2 h1 {
    width: calc(var(--100) * 8);
}

.carousel-item-3 h1 {
    width: calc(var(--505) * 1.1);
}

.bg-img-left {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-content p {
    margin-block: var(--20) var(--36);
    width: calc(var(--295) * 1.4);
}

/* Index Badges */

.index-badges {
    background-color: rgba(247, 247, 248, 1);
}

.badge-grid-group {
    gap: var(--20);
    background-color: rgba(247, 247, 248, 1);
}

.badge {
    padding: var(--15) var(--30);
    background-color: #fff;
}

.badge-svg {
    width: var(--40);
    height: var(--40);
    margin-bottom: var(--77);
}

.badge .paragraph {
    margin-top: var(--10);
}

.badge .card-title {
    width: 60%;
}

/* Index Masonry */

.masonry-grid-group {
    width: 100%;
    aspect-ratio: 2 / 1;
    display: grid;
    gap: var(--20);
    grid-template-areas:
        'top-left top-middle top-right'
        'top-left center bottom-right'
        'bottom-left bottom-left bottom-right';
}

.masonry-item {
    display: block;
    background-color: rgba(247, 247, 248, 1);
    border-radius: 15px;
    padding: var(--40) var(--25);
    position: relative;
}

.masonry-link {
    position: absolute;
    width: var(--50);
    height: var(--50);
    top: var(--12);
    right: var(--12);
}

.bg-img {
    background-size: contain;
    background-repeat: no-repeat;
}

/* Masonry grid areas */

.grid-area-top-left {
    grid-area: top-left;
    background-image: url(assets/images/main/main-glr-item-1.png);
    background-position: left bottom;
}

.grid-area-top-middle {
    grid-area: top-middle;
    background-image: url(assets/images/main/main-glr-item-2.png);
    background-position: right bottom;
}

.grid-area-top-right {
    grid-area: top-right;
    background-image: url(assets/images/main/main-glr-item-3.png);
    background-position: right bottom;
}

.grid-area-center {
    grid-area: center;
    background-image: url(assets/images/main/main-glr-item-4.png);
    background-position: right bottom;
}

.grid-area-bottom-right {
    grid-area: bottom-right;
    background-image: url(assets/images/main/main-glr-item-6.png);
    background-position: right bottom;
}

.grid-area-bottom-left {
    grid-area: bottom-left;
    background-image: url(assets/images/main/main-glr-item-5.png);
    background-position: right bottom;
}

/* Index Workshops */

.index-workshops {
    background-color: rgba(247, 247, 248, 1);
}

.index-workshops p {
    width: calc(var(--315) * 1.5);
}

.workshops-grid-group {
    gap: var(--20);
    background-color: rgba(247, 247, 248, 1);
}

.workshop-grid-item {
    background-color: #fff;
    border-radius: var(--15);
}

.workshop-title-wrapper {
    padding: var(--20) var(--20) var(--30);
    width: 80%;
}

.workshop-btn-group {
    gap: var(--20);
}

/* Webform */

.webform-grid-group {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.bottom-form {
    background-color: rgba(247, 247, 248, 1);
    padding: var(--42) 0 var(--42) var(--85);
    border-radius: 10px 0 0 10px;
}

.bottom-form p {
    margin-block: var(--15) var(--22);
}

.form-input {
    font-size: var(--10);
    font-family: 'Montserrat-Regular';
    color: var(--color-grey);
    line-height: var(--13);
    margin-bottom: var(--5);
    padding: var(--10) var(--15);
    border: none;
    border-radius: var(--15);
    background-color: #fff;
    display: block;
}

.form-input::placeholder {
    font-size: var(--10);
    font-family: 'Montserrat-Regular';
    color: var(--color-grey);
    line-height: var(--13);
}

.form-input:hover,
.form-input:focus {
    outline: 1px solid var(--color-green);
}

/* Index Footer */

.footer-primary {
    padding-block: var(--25);
}

.footer-flex-group {
    display: flex;
    justify-content: space-between;
}

.ul-footer-btm {
    display: flex;
    align-items: center;
    gap: var(--15);
}

.li-small {
    font-size: var(--10);
    text-transform: uppercase;
    line-height: var(--12);
    color: rgba(26, 26, 26, 0.5);
}

.li-small:first-of-type {
    margin-right: var(--60);
}

.flex-item-top {
    display: flex;
    align-items: center;
}

.footer-primary .logo-wrapper {
    margin-right: calc(var(--142) * 1.3);
}

.footer-primary .flex-item-right {
    display: flex;
    align-items: flex-end;
}

.footer-primary .nav-list-secondary {
    align-self: flex-end;
}

/* Orders Preview */

.orders-preview-wrapper {
    padding: var(--42) var(--85) var(--42) var(--85);
    background-image: url(assets/images/orders/preview-orders.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 15px;
}

.orders-preview-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #D9D9CF 0%, #D0CEC9 41.27%, #C5C3BA 100%);
    z-index: -1;
    border-radius: 15px;
}

.orders-preview-wrapper h2 {
    width: calc(var(--315) * 1.2);
}

.orders-preview-wrapper p {
    width: var(--295);
}

/* Orders Collection */

.orders-colletion {
    background-color: rgba(247, 247, 248, 1);
}

.collection-grid-group {
    gap: var(--20);
}

.collection-grid-item {
    border-radius: var(--15);
    background-color: #fff;
}

.collection-grid-item-content {
    padding: var(--20);
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.collection-grid-item-content p {
    width: 75%;
}

/* Webform Center */

.center-webform {
    background-color: rgba(247, 247, 248, 1);
}

.center-webform .flex-group {
    padding: var(--25) var(--85);
    background-color: var(--color-green);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.center-webform .flex-item-left h2 {
    width: calc(var(--315) * 1.3);
}

.center-webform .flex-item-left p {
    width: calc(var(--266) * 1.3)
}

form.flex-item-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: var(--8);
}

.form-center-input {
    font-size: var(--10);
    font-family: 'Montserrat-Regular';
    color: var(--color-white);
    line-height: var(--13);
    padding: 1em 2em;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    width: var(--126);
}

.form-center-input::placeholder {
    font-size: var(--10);
    font-family: 'Montserrat-Regular';
    color: var(--color-white);
    line-height: var(--13);
}

.form-center-input:hover,
.form-center-input:focus {
    outline: 1px solid white;
}

.btn-four {
    color: var(--color-black);
    background-color: var(--color-white);
    border: none;
}

.btn-four:hover,
.btn-four:focus {
    color: var(--color-white);
    background-color: rgb(255,255,255, 0.2);
}

/* Catalog Preview */

.catalog-preview {
    background-color: rgba(247, 247, 248, 1);
}

.catalog-preview-wrapper {
    padding: var(--42) var(--85) var(--42) var(--85);
    background-color: var(--color-green);
    border-radius: 15px;
}

.catalog-preview-wrapper h2 {
    width: calc(var(--505) * 1.1);
}

.catalog-preview-wrapper p {
    width: var(--448);
}

/* Catalog items */

.catalog-items {
    padding-top: var(--36);
    background-color: rgba(247, 247, 248, 1);
}

.search-items-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-input {
    height: var(--27);
    border: 1px solid grey;
    padding-left: 1em;
    font-size: calc(var(--8) * 1.2);
    width: var(--182);
    border-right: none;
    box-sizing: content-box;
}

.search-input:hover,
.search-input:focus {
    outline: 1px solid blue;
}

.search-btn {
    background-color: #fff;
    height: var(--27);
    width: var(--27);
    border: 1px solid grey;
    cursor: pointer;
    box-sizing: content-box;
}

.catalog-grid-group {
    background-color: rgba(247, 247, 248, 1);
    gap: var(--20);
}

.catalog-item-wrapper {
    background-color: #fff;
    border-radius: var(--15);
}

.item-content {
    padding: var(--13) var(--25);
}

.item-price {
    font-size: var(--16);
}

.catalog-item-img {
    object-fit: cover;
    height: var(--182);
}

/* Workshops Preview */

.workshop-preview {
    background-color: rgba(247, 247, 248, 1);
    z-index: -10;
}

.workshop-preview-wrapper {
    padding: var(--42) var(--85) var(--42) var(--85);
    background: linear-gradient(180deg, #ECEFEE 0%, #EAEAEA 41.27%, #DFE1E0 100%);
    position: relative;
    border-radius: 15px;
}

.workshop-preview-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(assets/images/workshops/preview.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    border-radius: 15px;
}

.workshop-preview-wrapper h2 {
    width: calc(var(--315) * 1.5);
    color: var(--color-black);
}

.workshop-preview-wrapper p {
    width: calc(var(--315) * 1.3);
    color: var(--color-grey);
}

/* Workshop Demo */

.workshop-demo {
    background-color: rgba(247, 247, 248, 1);
}

.workshop-demo p {
    width: 90%;
}

.orders-colletion {
    background-color: rgba(247, 247, 248, 1);
}

.workshop-grid-group {
    gap: var(--20);
}

.workshop-grid-item {
    border-radius: var(--15);
    background-color: #fff;
}

.workshop-grid-item-content {
    padding: var(--20);
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

/* Workshop Description */

.workshop-desc-wrapper {
    gap: var(--20);
}

.wk-flex-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wk-1-heading {
    flex-basis: calc(var(--315) * 2.5);
    margin-right: var(--60);
}

.wk-2-heading {
    flex-basis: calc(var(--315) * 3.5);
    margin-right: var(--60);
}

.wk-3-heading {
    flex-basis: calc(var(--315) * 4);
    margin-right: var(--60);
}

.wk-flex-group .paragraph-large {
    flex-basis: 50%;
    margin-right: var(--60);
}

.wk-flex-group .wk-3-paragraph {
    flex-basis: 60%;
    margin-right: var(--60);
}

.wk-desc-img {
    border-radius: var(--15);
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.wk-flex-sbgroup {
    display: flex;
    align-items: flex-start;
    border-radius: var(--15);
    background-color: rgba(247, 247, 248, 1);
    padding: var(--32) var(--46);
    gap: var(--20);
}

.wk-sbgroup-content h4 {
    margin-bottom: var(--15);
}

.wk-sbgroup-step {
    width: var(--40);
    height: var(--40);
    border-radius: 50%;
    background-color: var(--color-green);
    font-size: var(--14);
    color: #fff;
    flex-shrink: 0;
}

/* Contacts */

.contacts-wrapper {
    padding: var(--36);
    background-color: rgba(247, 247, 248, 1);
    gap: var(--72);
    border-radius: var(--15);
}

.cnts-left-flex-item {
    flex-basis: calc(var(--505) * 1.1);
}

.cnts-left-flex-item h2 {
    width: 80%;
}

.cnts-right-flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--60);
}

.cnts-flex-sb-top {
    display: flex;
    gap: var(--85);
}

.cnts-flex-sb-small {
    display: flex;
    gap: var(--10);
    align-items: center;
}

.cnts-svg-location {
    width: var(--16);
    height: var(--22);
}

.cnts-svg-email {
    width: var(--16);
    height: var(--13);
}

.cnts-flex-sb-small .paragraph {
    width: var(--246);
    color: var(--color-black);
    font-family: 'Montserrat-Medium';
}

.cnts-flex-sb-large {
    display: flex;
    gap: var(--20);
    align-items: center;
}

.cnts-svg-phone {
    width: var(--42);
    height: var(--42);
}